<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <div>
      <ion-button class="backBtn" fill="clear">
        <ion-icon slot="icon-only" name="menu" color="light" size="large"></ion-icon>
      </ion-button>
      <img class="sys-logo" src="../../assets/logo.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fixedContainer">
    <div class="ion-margin-top">
      <ion-text color="medium">Total Balance</ion-text>
      <ion-text color="light">$3,810.07</ion-text>
      <ion-text color="success">+2,096.64 (9.42%)</ion-text>
    </div>
    <div id="chart">
      <span class="yAxisLabel" *ngIf="showChart">
        <div>
          <ion-badge>$50</ion-badge>
          <ion-badge>$25</ion-badge>
          <ion-badge>$10</ion-badge>
        </div>
      </span>
      <span *ngIf="!showChart" class="ocean">
        <span class="wave {{waveSvg}}"></span>
      </span>
      <ion-text color="primary" *ngIf="selectedDate" class="selectedDate">{{selectedDate}}</ion-text>
      <apx-chart 
        #chart
        [style.visibility]="showChart ? 'visible' : 'hidden'"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart" 
        [xaxis]="chartOptions.xaxis" 
        [yaxis]="chartOptions.yaxis" 
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke" 
        [tooltip]="chartOptions.tooltip" 
        [dataLabels]="chartOptions.dataLabels"
        [fill]="chartOptions.fill" 
        [responsive]="chartOptions.responsive" 
        [markers]="chartOptions.markers"
      ></apx-chart>
      <ion-row class="ion-justify-content-center">
        <ng-container *ngFor="let yaxis of chartYAxis; let i = index;">
          <ion-col (click)="updateOptions( yaxis )">
            <ion-text [class.active]="activeOptionButton===yaxis">{{yaxis}}</ion-text>
          </ion-col>
        </ng-container>
      </ion-row>
    </div>
    <div>
      <ion-row>
        <ion-col size="4">
          <ion-button color="primary" (click)="changeWallet('vault')">Vault</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="success" (click)="changeWallet('trade')">Trade</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button color="warning" (click)="changeWallet('premium')">Premium</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="resetChart()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>